// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

:root {
  --ion-color-primary: #0099aa;
  --ion-color-primary-rgb: 0, 153, 170;
  --ion-color-primary-contrast: #000000;
  --ion-color-primary-contrast-rgb: 0, 0, 0;
  --ion-color-primary-shade: #008796;
  --ion-color-primary-tint: #1aa3b3;

  --ion-color-secondary: #4db7c3;
  --ion-color-secondary-rgb: 77, 183, 195;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0, 0, 0;
  --ion-color-secondary-shade: #44a1ac;
  --ion-color-secondary-tint: #5fbec9;

  --ion-color-tertiary: #d55a1f;
  --ion-color-tertiary-rgb: 213, 90, 31;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0, 0, 0;
  --ion-color-tertiary-shade: #bb4f1b;
  --ion-color-tertiary-tint: #d96b35;
}
