<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Polygon Vector Example </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid class="y100">
    <ion-row class="y100">
      <ion-col class="ion-align-self-center ion-text-center" size="12">
        <app-polygon-vector
          [boundary]="boundary"
          [centroid]="center"
          [width]="300"
          [height]="300"
          [padding]="30"
          [primaryColor]="'#0099aa'"
          [backgroundColor]="'#eff0f1'"
          [showCentroid]="true"
          [showPointLabels]="true"
          [dashedStroke]="true"
        >
        </app-polygon-vector>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
